KIRITE_RPC_URL=https://api.devnet.solana.com
KIRITE_MAINNET_RPC_URL=https://api.mainnet-beta.solana.com
KIRITE_PROGRAM_ID=4bUHrDPuRcoYPU7UTLojXtxJsWoCj3HJbKX9oLnEnYy6
KIRITE_KEYPAIR_PATH=~/.config/solana/id.json
KIRITE_NETWORK=devnet
KIRITE_LOG_LEVEL=info
KIRITE_COMMITMENT=confirmed
